---
import ElementCard from "./ElementCard.astro";

const { title, elements, indexPrefix } = Astro.props;
---

<section class="element-category" aria-labelledby={`${indexPrefix}-heading`}>
  <div class="element-category__inner">
    <h2 class="element-category__title" id={`${indexPrefix}-heading`}>{title}</h2>
    <div class="element-category__list">
      {elements.map((element, index) => (
        <ElementCard element={element} index={`${indexPrefix}-${index}`} />
      ))}
    </div>
  </div>
</section>
